# Análise dos dados de reemboldo dos senadores - 2018

In [5]:
# importando as libs
import pandas as pd

In [15]:
# carregando o arquivo 
# sep -> delimita o separador do dado
# encoding -> tipo q foi salvo
# skiprows -> define quantidade de linhas q irá pular (descartar)
# decimal -> define o tipo de separador de casas decimais nos valores
df = pd.read_csv("dados/ceaps_2018.csv", sep=";", encoding="latin1", skiprows=1, decimal=",")


df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....",274.99
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...",1094.29
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...",1553.99
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00

In [18]:
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
24487,2018,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",16.979.906/0001-30,Posto Vila da Serra Ltda,398003,13/12/2018,NaN,220.05
24488,2018,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",16.979.906/0001-30,Posto Vila da Serra Ltda,401813,19/12/2018,NaN,73.02
24489,2018,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",16.979.906/0001-30,Posto Vila da Serra Ltda,401714,19/12/2018,NaN,232.01
24490,2018,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Adria Viagens e Turismo Ltda,CI5PSK,05/12/2018,"Companhia Aérea: AZUL, Localizador: CI5PSK. Pa...",1132.69
24491,2018,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",16.978.175/0001-08,Adria Viagens e Turismo Ltda,OHNRAG,17/12/2018,"Companhia Aérea: LATAM, Localizador: OHNRAG. P...",1260.45

In [19]:
# verificar tamanho e tipos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 10 columns):
ANO                  24492 non-null int64
MES                  24492 non-null int64
SENADOR              24492 non-null object
TIPO_DESPESA         24492 non-null object
CNPJ_CPF             24492 non-null object
FORNECEDOR           24492 non-null object
DOCUMENTO            23476 non-null object
DATA                 24492 non-null object
DETALHAMENTO         18882 non-null object
VALOR_REEMBOLSADO    24492 non-null float64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.9+ MB

In [20]:
# mostrar análise quantitativas dos dados
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  24492.0  24492.000000       24492.000000
mean    2018.0      6.192226        1045.431215
std        0.0      3.305847        2718.840577
min     2018.0      1.000000           0.010000
25%     2018.0      3.000000         125.000000
50%     2018.0      6.000000         287.200000
75%     2018.0      9.000000        1032.005000
max     2018.0     12.000000      103900.000000

# Qual o total de reenbolso

In [24]:
df["VALOR_REEMBOLSADO"].sum()

25604701.33

In [26]:
# quantos reembolsos foram solicitados pelos senadores
df["SENADOR"].value_counts()

EDUARDO LOPES          864
PAULO BAUER            824
WELLINGTON FAGUNDES    800
JOSÉ SERRA             715
GLEISI HOFFMANN        653
                      ...
ALVARO DIAS             40
FERNANDO COLLOR         27
JADER BARBALHO          19
CRISTOVAM BUARQUE       16
ZÉ SANTANA               8
Name: SENADOR, Length: 91, dtype: int64

In [28]:
# quanto cada senador solicitou de reembolso em 2018
df.groupby("SENADOR")["VALOR_REEMBOLSADO"].sum().sort_values(ascending=False)

SENADOR
EDUARDO BRAGA         529599.18
VANESSA GRAZZIOTIN    515969.63
JOÃO CAPIBERIBE       513333.90
ÂNGELA PORTELA        485806.44
OMAR AZIZ             484143.98
                        ...
ALVARO DIAS            44037.88
WALTER PINHEIRO        32733.67
CRISTOVAM BUARQUE      32400.00
ZÉ SANTANA             23300.67
IONE GUIMARÃES         11379.91
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [30]:
# quanto foi reembolsado por cada tipo de despesa
df.groupby("TIPO_DESPESA")["VALOR_REEMBOLSADO"].sum().sort_values(ascending=False)

TIPO_DESPESA
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 6335284.94
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   5620092.84
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           5041438.25
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             4966449.41
Divulgação da atividade parlamentar                                                                                                                                                                2568910.24
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      900312.04
Serviços de Segurança Privada                                                                                                                                                                       172213.61
Name: VALOR_REEMBOLSADO, dtype: float64